<div>
  <img src="https://ca.howrse.com/media/equideo/image/interface/header/logo/disconnected/howrse.png" class="transparent horse-img">
</div>
<div class="container">
  <main>
    <section class="flexbox">
      <div class="row">
        <div class="col-sm-4 offset-sm-4">
          <!--Care Widget-->
          <div class="widget">
            <div id="care" class="widget-item">
              <h3 id="care-header" class="widget-title">Care</h3>
            </div>
          </div>
          <!--Night Widget-->
          <div class="widget">
            <div id="night" class="widget-item">
              <h3 id="night-header" class="widget-title">Night</h3>
            </div>
          </div>
          <!--Equestrian Center Widget-->
          <div class="widget">
            <div id="equestrian" class="widget-item">
              <h3 id="equestrian-header" class="widget-title">Equestrian Center</h3>
              <table class="width-100">
                <tbody>
                  <tr class="dashed">
                    <td class="col-0 first" colspan="2">
                      <div class="float-right"></div>
                      <div class="grid-table">
                        <div class="grid-row">
                          <div class="grid-cell align-middle">
                            <strong class="nowrap spacer-small-right">Name:</strong><i><span>Emma's amazing stables</span></i>
                          </div>
                          <!--<div class="grid-cell align-top"></div>-->
                        </div>
                      </div>
                    </td>

                    <td class="col-0 first last" colspan="2">
                      <div class="grid-table">
                        <div class="grid-row">
                          <div class="grid-cell align-middle">
                            <!--<strong class="nowrap spacer-small-right">Up to:</strong>-->
                          </div>
                          <!--<div class="grid-cell align-top">2nd July 2119</div>-->
                        </div>
                      </div>
                    </td>

                  <tr class="align-top dashed">
                    <td class="first last col-0" colspan="2" style="padding-bottom: 5px">
                      <div class="grid-table">
                        <div class="grid-row">
                          <div class="grid-cell align-middle">
                            <strong class="nowrap spacer-small-right">Up to:</strong>2nd July 2119<span data-tooltip="Box 1*" data-tooltip-theme="0"><img src="/assets/images/farmhouse.png" alt="farmhouse" /></span>
                          </div>
                          <!--<div class="grid-cell align-top">2nd July 2119</div>-->
                          <div class="grid-cell align-middle">
                            <strong class="nowrap">Box:</strong>
                            <!--<div class="grid-cell align-top">-->
                            <span data-tooltip="Box 1*" data-tooltip-theme="0"><img src="/assets/images/farmhouse.png" alt="farmhouse" /></span> <span data-tooltip="Straw" data-tooltip-theme="0"><img src="/assets/images/straw.png" alt="straw" /></span>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
              </table>
            </div>
          </div>

          <!--History Widget-->
          <div class="widget">
            <div id="history" class="widget-item">
              <h3 id="history-header" class="widget-title">History</h3>
            </div>
            <table class="width-100">
              <tbody>
                <tr class="dashed">
                  <td class="col-0 first" colspan="2">
                    <div class="float-right"></div>
                    <div class="grid-table">
                      <div class="grid-row">
                        <ul class="grid-table align-middle list-unstyled">
                          <li>
                            <span class="grid-cell first" style="width:35px;">
                              <img src="/assets/images/sun.png" style="margin: 1px 1px 1px 0px" alt="sun">
                            </span>
                            <span class="grid-cell last">08:00: Strawberry has just woken up</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </td>
            </table>
            <!--<div id="history-body-content" class="module-style-6-content module-content">
              <div class="content" id="history-content">
                <div id="history-0">
                  <div class="fullwidth">
                    <ul class="grid-table align-middle">
                      <li class="list-unstyled">
                        <span class="grid-cell first" style="width:35px;">
                          <img src="/assets/images/sun.png" style="margin: 1px 3px 1px 0px" alt="sun">
                        </span>
                        <span class="grid-cell last">08:00: <b>Strawberry</b> has just woken up</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>-->
          </div>
        </div>
        <div class="col-sm-4 offset-sm-4">
          <div></div>
        </div>
        <div class="col-sm-4 offset-sm-4">
          <!--Mission Widget-->
          <div class="widget">
            <div id="mission" class="widget-item">
              <h3 id="mission-header" class="widget-title">Mission</h3>
            </div>
          </div>
          <!--Rides Widget-->
          <div class="widget">
            <div id="rides" class="widget-item">
              <h3 id="rides-header" class="widget-title">Rides</h3>
            </div>
          </div>
          <!--Training Widget-->
          <div class="widget">
            <div id="Training" class="widget-item">
              <h3 id="training-header" class="widget-title">Training</h3>
            </div>
          </div>
          <!--Competition Widget-->
          <div class="widget">
            <div id="competitions" class="widget-item">
              <h3 id="competitions-header" class="widget-title">Competitions</h3>
            </div>
          </div>
          <!--Breeding Widget-->
          <div class="widget">
            <div id="breeding" class="widget-item">
              <h3 id="breeding-header" class="widget-title">Breeding</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <app-detail-box></app-detail-box>
  </main>
</div>
<!--Beautiful Background Image-->
<div class="body-background"></div>
